.home_btm h3{
	font-family: 'Poppins',sans-serif;
	display: block;
}  
.home_btm p{
	font-size: 22px;
	font-family: 'Poppins',sans-serif;
}
.home
{
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-position: center;
	height: 100vh;
}
.home_btm
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.navbar-brand  {
	color:white !important;
	margin: 0;
	text-transform: uppercase;
	font-size: 22px;
    font-weight: 900 !important;
}
.login
{
	color: black;

}
.register_sec a
{
	color: #1DC4E7 !important;
}
.register_sec a:hover
{
	text-decoration: none !important;
}
.login_text
{
	width: 90%;
	outline: none;
	border: none;
	background: transparent;
	color: #000;
	border-bottom: 1px solid #000;
}
.login_text::placeholder
{
	color: black;
}
span
{
	color: #1DC4E7;
}
.nav-link
{
    font-weight: 600 !important;
}
.nav-link:hover
{
	color: #1DC4E7 !important;
}
.active
{
	color: #1DC4E7 !important;	
}
.navbar{
	height: auto;
}
strong{
	font-weight: bolder;
}
.register_sec,.login_sec,.about_sec,.contact_sec,.address_sec
{
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-position: center;
	height: 100vh;
	border-top: solid;
	border-width: 2px;	
	align-items: center;
	color: white;
}
.register_sec form{
	font-family: 'Poppins', sans-serif;
	margin-left: 100px !important;
}
.address_sec
{
	justify-content: center;
}
.address_sec form{
	font-family: 'Poppins',sans-serif;
	align-items: center;
}
.control_text
{
	width: 125%;
	outline: none;
	border: none;
	background: transparent;
	color: #fff;
	border-bottom: 1px solid #fff;
}
.fas{
	margin-right: 10px;
}
::placeholder
{
	color: #fff;
}
.flex-container
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px;
}
.flex-container div
{
	margin: 30px;
	padding: 10px;
	text-align: center;
}
.flex-container img
{
	height: 250px;
	width: 250px;
}
.flex-container p{
	border: solid 1px white;
	color: white;
	font-family: 'Poppins',sans-serif;
	width: 250px;
}
.about_sec p{
	font-family: 'Poppins',sans-serif;
	height:100%;
	margin-left: 30%;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 30px;
	word-spacing: 10px;
}
.contact_sec
{
	justify-content: center;
}
.contact_sec form{
	font-family: 'Poppins',sans-serif;
	align-items: center;
}
.contact_text
{
	width: 125%;
	outline: none;
	border: none;
	background: transparent;
	color: #fff;
	border-bottom: 1px solid #fff;
}
.comment_area
{
	width: 125%;
	display: block;
}
.login_sec form{
	font-family: 'Poppins',sans-serif;
	align-items: center;
	margin-left: 100px !important;
}
.shopcart
{
	height: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px;
}
.lc{
	width: 55%;
	align-items:center;
}
.rc{
	width: 45%;
}
.rc h4,p{
	font-family: 'Poppins',sans-serif;
}
.rc li
{
	font-family: 'Ropa Sans',sans-serif;
}
.shopcart img
{
	height: 350px;
	width: 350px;
}
center a
{
	margin: 20px;
}
@media (max-width:570px)
{
	.navbar-light .navbar-toggler
	{
		margin-left: 20px !important;
	}
	.home_btm h3{
	    font-size: 20px;
    }  
	.nav-item
	{
		border-bottom-style: inset;
	}
	.flex-container
	{
	    height:100%;
	}
	.flex-container img
	{
		height: 75px;
		width: 75px;
	}
	.flex-container div
	{
	    margin:5px;
	}
	.flex-container p
	{
		width: 75px;
		font-size: small;
	}
	.about_sec p
	{
		font-size: 15px;
		margin-left: 25px;
	}
	.control_text,.comment_area,.contact_text
	{
		width: 75%;
	}
	.shopcart
	{
		flex-direction: column;
	}
	.shopcart img{
		height: 250px;
		width: 250px;
	}
}